body{
    background: url(./background_02.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: poppins;

}

.loginCard{
    background:white;
    padding: 10px;
    width: 30%;
    height: 450px;
    margin-left: 60%;
    margin-top: 8%;
    text-align: center;
    border-radius: 23px;
    opacity: 0.88;
}
.logo{
    width:235px;
    height: 235px;
}
.input{
    width: 50%;
    border-radius:10px;
    border-color: rgb(159, 93, 165);
    color:  rgb(159, 93, 165);
    padding:10px;
    margin-bottom: 10px;
}
h5{
    margin:0px;
    font-weight: normal;
}
.loginButton{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
}