body{
    background: url(./background_02_02.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: poppins;

}

.loginCard-login{
    
    width: 30%;
    height: 358.5px;
    margin-left: 60%;
    margin-top: 12%;
    border-radius: 32px;
    opacity: 1;
    padding: 5px;
    border: 1px solid white;
}
.logo-login{
    width:235px;
    height: 235px;
    margin-top:-120px;
}
.input-login{
    width: 50%;
    border: 1px solid rgb(159, 93, 165);
    border-radius:10px;
    color:  rgb(168, 164, 164);
    padding:10px;
    margin-bottom: 10px;
}
h5{
    margin:0px;
    font-weight: normal;
}
.loginButton-login{
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blueviolet;
    border: none;
    font-family: poppins;
    border-radius: 5px;
    margin-bottom: 10px;
}
.boundary-login{
    background:white;
    padding: 10px;
    text-align: center;
    border-radius: 27px;
    padding-bottom: 20px;
}
.button-style-align{
    float: left;
    margin-left: 80px;
    margin-right:0px;
    font-size: 12px !important;
}
.forget-Button-Style{
margin-left:-72px !important;
font-size: 12px !important;
}
.align-style{
    float:left;
    padding-top:8px;
    color:rgb(5, 5, 133);
}
.form-style{
    margin-top:-13px;
}