body{
    padding: 0px;
    margin: 0px;
    font-family: 'poppins';
}

.fullScreen{
    height: auto !important;
    display: block;
}

.left{
    width: 100% !important;
    height: 60px;
    background-image: linear-gradient(to right, red, rgb(153, 0, 0));
    display: flex;
    align-items: center;
    clear: left !important;
}

.extra{
    width: 88%;
    color: white;
    font-size: 23px;
    padding-left: 40px;
}

.admin{
    width: 73px;
    float: left;
    margin: 0px;
}
.user{
    color: white !important;
    font-size: 15px !important;
    float: left;
    margin: 0px;
    padding: 6px 20px !important;
    font-size:12px !important;
    font-family: 'poppins' !important;
    background: black !important;
    transition: 1s !important;
}
.user:hover{
    color: black !important;
    font-size: 15px !important;
    float: left;
    margin: 0px;
    padding: 6px 20px !important;
    font-size:12px !important;
    font-family: 'poppins' !important;
    background: white !important;
}


.right{
    width:100%;
    /* height: 90vh; */
    height: auto !important;
    min-height: 86vh !important;
    padding:0px;
    margin:0px !important;
    /* background: rgb(245, 245, 245); */
    
}
.randomImg{
    margin: 30px;
}

.options{
    color: white;
    padding: 10px;

}


