body{
    padding: 0px;
    margin: 0px;
    font-family: 'poppins';
}

.fullScreen{
    height: auto !important;
    display: block;
}

.left{
    width: 100% !important;
    height: 60px;
    background-image: linear-gradient(to right, red, rgb(153, 0, 0));
    display: flex;
    align-items: center;
    clear: left !important;
}

.extra{
    width: 83%;
    color: white;
    font-size: 23px;
    padding-left: 40px;
}

.admin{
    width: 73px;
    float: left;
    margin: 0px;
}
.user{
    color: white;
    font-size: 15px;
    float: left;
    margin: 0px;
    padding: 0px;
    
}


.right{
    width:100%;
    /* height: 90vh; */
    height: auto !important;
    /* min-height: 100vh !important; */
    padding:0px;
    margin:0px !important;
    background: red !important;
    
}
.randomImg{
    margin: 30px;
}

.options{
    color: white;
    padding: 10px;

}


