.menuRow{
    width:87%;
    margin-left: 80px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'poppins';
    color: rgb(153, 148, 153);
    display:inline-block;
}
.StudentFee{
    width:100%;
    /* height: auto !important; */
    /* min-height: 100vh !important; */
    margin: 0px !important;
    padding:0px;
    background: rgb(245, 245, 245);

}

.table{
    width: 85% !important;
    padding:5px !important;
    margin-bottom: 60px;
    margin-left: 80px;
    border:1px solid grey;
    transition: 1s;
    border-radius: 5px;
    background: white;
    /* margin-left:30px !important;
    margin-right:auto !important; */
}
.table:hover{
    transform: translate(0px,2px);
    box-shadow: 0px 0px 10px rgb(197, 197, 197);
    padding:7px !important;
    background-color: rgb(248, 248, 248);


}
.rightSide{
    width: 83% !important;
    /* margin:auto !important; */
    padding:20px !important;
    margin-bottom: 40px;
    margin-left:80px;
    margin-top: 40px;

    
}

/* .card{
    background-color: white;
    margin-left: 5px;
    margin-top: 0px !important;
    border-radius: 6px;
    box-shadow: 0px 0px 20px lightgray;
    padding: 20px;
    font-family: 'poppins';
    color: #B5B4B6;

} */
.card-stats{
    background-color: white;
    font-family: 'poppins';
    color: #B5B4B6;
    border-radius: 4px;
    border: 1px solid grey !important;
    transition: 1s !important;
}
.card-stats:hover{
    box-shadow: 0px 0px 10px rgb(197, 197, 197);
    transform: translate(0px,2px);
}
.card-design{
    background-color: white;
    margin-left: 5px;
    margin-top: 0px !important;
    border-radius: 6px;
    /* box-shadow: 0px 0px 20px lightgray; */
    padding: 20px;
    font-family: 'poppins';
    color: #B5B4B6;
    border:1px solid grey;
    transition: 1s !important;
}
.card-design:hover{
    box-shadow: 0px 0px 10px rgb(197, 197, 197);
    transform: translate(0px,4px);
}

.padLeft{
    padding-left: 95px;
    margin-bottom: 10px;
    margin-top: 0px !important;

}
.stats{
    padding-top: 20px;
    font-weight: bold;
    color: grey !important;
}

.buttonChanging{
    
    background: black;
}

.buttonAdjust{
    margin-left: 5px;
    margin-bottom: 10px;
}

.bottomButton{
    margin-left: 55px;
}

.top{
    height: 70vh;
}

.heading{
    font-weight: 600;
    text-align: left;
}

.forms{
    float: left;
    width: 25%;
    margin-left: 15px;
}

.leftMostForm{
    margin-left: 80px;
}

h5{
    margin:0px;
    font-weight: normal;
    color:grey;
    /* margin-left: 38px !important; */
}
.loginButton{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
}

.input{
    width: 50%;
    margin-bottom: 10px;
    color: lightgray !important;
    border: 1px solid grey !important;
    width: 70% !important;
    /* margin-left: 38px !important; */

}

.line{
    opacity: 1 !important;
    margin-bottom: 30px;
}

.line02{
    opacity: 1 !important;
    
    margin-bottom: 0px !important;
}


.heading{
    font-weight: 600;
    color:grey;
}
.button{
    margin-top: 20px;
}
.extraCard{
    padding-bottom: 40px;
}
.monthMenu{
    padding: 10px;
    font-weight: bold;
    font-family: 'poppins';
    color: grey;
    background-color: white;
    /* box-shadow: 0px 0px 10px lightgray; */
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    border: 1px solid grey;
    transition:0.4s;
}
.monthMenu:hover{
    box-shadow: 0px 0px 20px rgb(197, 197, 197);
    transform: translate(0px,-3px);
    background: grey;
    color:white;
}
.label-style{
    float: left;
    display: inline;
    
}
.align-style-select-row{
    margin-left: 20px;
}
.structure-style{
    float: left;
    display:inline;
    width:30%;
}
.align-style{
    text-align: center !important;
    margin-left: 40px;
    display: inline-block !important;
    width: 100%;
}
.numbers-styling{
    color:rgb(250, 48, 48);
    font-size: 25px;
}

.stats-align-style{
    width: 100% !important;
    margin-bottom: 40px !important;
    background: black;
    padding: 10px;

}
.student-data-heading{
    width:70%;
    font-size: 25px;
    color:grey;
}
.label-font{
    color:grey;
}
.notes-style{
    font-size:15px;
    padding-left: 20px;
    font-weight:300;
}
.button{
    background: black !important;
}
.button:hover{
    background: red !important;
    border-radius: 4px;
}
.form-heading-style{
    color: grey;
    font-weight: 700;
    margin-left: 100px;
    width: 80% !important;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'poppins';
}
.form-row{
    margin-bottom: 600px !important;
    background: black !important;
    width: 100%;
}