.loginCard{
    background:white;
    padding: 10px;
    width: 80%;
    height: 450px;
    text-align: center;
    border-radius: 23px;
    opacity: 0.88;
}
.logo{
    width:235px;
    height: 235px;
}
.input{
    width: 50%;
    border-radius:10px;
    border-color: rgb(159, 93, 165);
    color:  rgb(159, 93, 165);
    padding:10px;
    margin-bottom: 10px;
}
h5{
    margin:0px;
    font-weight: normal;
}
.loginButton{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
}

.StudentFee{
    width:100%;
    height: 150vh;
}

.table{
    width: 80%;
    float: left;
}
.rightSide{
    /* height: 66vh; */
    width: 20%;
    padding-top: 70px;
    float:left;

}

.card{
    background-color: white;
    margin-left: 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 20px lightgray;
    padding: 20px;
    font-family: 'poppins';
    color: #B5B4B6;

}

.padLeft{
    padding-left: 95px;
    padding-top: 0px;
}
.stats{
    padding-top: 20px;
    font-weight: bold;
    color: #EB9FFA;
}

.buttonChanging{
    
    background: black;
}

.buttonAdjust{
    margin-left: 5px;
    margin-bottom: 10px;
}

.bottomButton{
    margin-left: 55px;
}

.top{
    height: 70vh;
}
.bottom{
    margin-top: 100px;
    height: 30vh;
}

.heading{
    font-weight: 600;
}

.forms{
    float: left;
    width: 25%;
    margin-left: 15px;
}

.leftMostForm{
    margin-left: 80px;
}

h5{
    margin:0px;
    font-weight: normal;
}
.loginButton{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
}

.input{
    width: 50%;
    margin-bottom: 10px;
    color: grey;
}

.line{
    opacity: 0.4;
    margin-bottom: 30px;
}

.line02{
    opacity: 0.4;
    margin-bottom: 20px;
}


.heading{
    font-weight: 600;
}
.button{
    margin-top: 20px;
}
.extraCard{
    padding-bottom: 40px;
}