.menuRow-total{
    width:87%;
    margin-left: 80px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'poppins';
    color: rgb(153, 148, 153);
    display:inline-block;
}
.total{
    width:100%;
    height: auto !important;
    display: block;
    min-height: 70vh !important;
    margin: 0px !important;
    background: rgb(245, 245, 245);
    padding-top: 40px; 
}

.table-total{
    width: 85% !important;
    padding:5px !important;
    margin-bottom: 60px;
    margin-left: 80px;
    border:1px solid grey;
    transition: 0.5s;
    border-radius: 5px;
    background: white;
    /* margin-left:30px !important;
    margin-right:auto !important; */
}
.table-total:hover{
    transform: translate(0px,2px);
    box-shadow: 0px 0px 10px rgb(197, 197, 197);
    padding:7px !important;
    background-color: rgb(248, 248, 248);


}
.rightSide-total{
    width: 83% !important;
    /* margin:auto !important; */
    padding:20px !important;
    margin-bottom: 40px;
    margin-left:80px;

    
}

/* .card{
    background-color: white;
    margin-left: 5px;
    margin-top: 0px !important;
    border-radius: 6px;
    box-shadow: 0px 0px 20px lightgray;
    padding: 20px;
    font-family: 'poppins';
    color: #B5B4B6;

} */
.card-stats-total{
    background-color: white;
    font-family: 'poppins';
    color: #B5B4B6;
    border-radius: 4px;
    border: 1px solid grey !important;
    transition: 0.5s !important;
    display: block !important;
    clear: left !important;
}
.card-stats-total:hover{
    box-shadow: 0px 0px 10px rgb(197, 197, 197);
    transform: translate(0px,2px);
}
.card-design-total{
    background-color: white;
    margin-left: 5px;
    margin-top: 0px !important;
    border-radius: 6px;
    /* box-shadow: 0px 0px 20px lightgray; */
    padding: 20px;
    font-family: 'poppins';
    color: #B5B4B6;
    border:1px solid grey;
    transition: 0.5s !important;
}
.card-design-total:hover{
    box-shadow: 0px 0px 10px rgb(197, 197, 197);
    transform: translate(0px,4px);
}

.padLeft-total{
    padding-left:  95px;
    margin-bottom: 10px;
    margin-top: 0px !important;

}
.stats-total{
    padding-top: 20px;
    font-weight: bold;
    color: grey !important;
}

.buttonChanging-total{
    
    background: black;
}

.buttonAdjust-total{
    margin-left: 5px;
    margin-bottom: 10px;
}

.bottomButton-total{
    margin-left: 55px;
}

.top-total{
    height: 70vh;
}

.heading-total{
    font-weight: 600;
    text-align: left;
}

.forms-total{
    float: left;
    width: 25%;
    margin-left: 15px;
}

.leftMostForm-total{
    margin-left: 80px;
}

h5{
    margin:0px;
    font-weight: normal;
    color:grey;
    /* margin-left: 38px !important; */
}
.loginButton-total{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
}

.input-total{
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 10px;
    color: rgb(160, 160, 160) !important;
    border: 1px solid grey !important;
    width: 80% !important;
    /* margin-left: 38px !important; */

}

.line-total{
    opacity: 1 !important;
    margin-bottom: 30px;
}

.line02-total{
    opacity: 1 !important;
    
    margin-bottom: 0px !important;
}


.heading-total{
    font-weight: 600;
    color:grey;
}
.button-total{
    margin-top: 20px;
}
.extraCard-total{
    padding-bottom: 40px;
}
.monthMenu-total{
    padding: 10px;
    font-weight: bold;
    font-family: 'poppins';
    color: grey;
    background-color: white;
    /* box-shadow: 0px 0px 10px lightgray; */
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    border: 1px solid grey;
    transition:0.4s;
}
.monthMenu-total:hover{
    box-shadow: 0px 0px 20px rgb(197, 197, 197);
    transform: translate(0px,-3px);
    background: grey;
    color:white;
}
.label-style-total{
    float: left;
    display: inline;
    
}
.align-style-select-row-total{
    margin-left: 20px;
}
.structure-style-total{
    float: left;
    display:inline;
    width:30%;
}
.align-style-total{
    text-align: center !important;
    margin-left: 40px;
    display: inline-block !important;
    width: 100%;
}
.numbers-styling-total{
    color:rgb(250, 48, 48);
    font-size: 25px;
}

.stats-align-style-total{
    width: 100% !important;
    margin-bottom: 40px !important;
    background: black;
    padding: 10px;

}
.student-data-heading-total{
    width:70%;
    font-size: 25px;
    color:grey;
}
.label-font-total{
    color:grey;
}
.notes-style-total{
    font-size:20px;
    padding-left: 40px;
    font-weight:500;
}
.button-total{
    background: black !important;
}
.button-total:hover{
    background: red !important;
    border-radius: 4px;
}
.form-heading-style-total{
    color: grey;
    font-weight: 700;
    margin-left: 100px;
    width: 80% !important;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'poppins';
}
.form-row-total{
    padding-bottom: 80px !important;
    /* padding-bottom: 100px; */
    width: 100%;
    display: flex;
}
.line03-total{
    opacity: 0.5;
    width:60%;
}
.final-statement{
    margin-top: 20px;
    padding-left: 80px !important;
}
.final-amount-style{
    color:red;
    font-size: 30px;
    padding-left: 10px;
    transition:0.5s;
}
.final-amount-style:hover{
    color:black;
}